---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Experience from '../components/sections/Experience.astro';
import SectionContainer from '../components/ui/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import EducationIcon from '../components/icons/Education.astro';
import Education from '../components/sections/Education.astro';
import Projects from '../components/sections/Projects.astro';
import CommunityImpact from '../components/sections/CommunityImpact.astro';
import Hero from '../components/sections/Hero.astro';
---

<Layout 
  title="Kevin Latino - Software Developer & Web3 Advocate"
  description="Software Developer and Web3 Advocate from Costa Rica. Specialized in full-stack applications with clean architecture."
>
  <Header />
  <main class="px-4">
    <SectionContainer class="mt-[12rem]">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experience" class="py-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
        <Briefcase class="size-8" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" class="py-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
        <CodeIcon class="size-7" />
        Hackathon Project's
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="community" class="py-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
        <CodeIcon class="size-7" />
        Open Source & Community Impact
      </h2>
      <CommunityImpact />
    </SectionContainer>

    <SectionContainer id="education" class="py-16">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
        <EducationIcon class="size-8" />
        Education
      </h2>
      <Education />
    </SectionContainer>

  </main>
</Layout>
