---
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty max-w-4xl"
  >
    <p>
      Passionate software developer with hands-on experience building <strong>full-stack applications</strong> - from performant frontends to scalable backends - for both <strong>Web2 and Web3 ecosystems</strong>. Committed to <strong>clean architecture</strong>, maintainability, and delivering real-world impact through technology.
    </p>
  </div>
</article>
